[Desktop Entry]
Name=Campfire
Comment=Open source, user-first chat platform
Exec=campfire-desktop
Terminal=false
Type=Application
Icon=gr.campfire.Campfire
Categories=Network;InstantMessaging
StartupWMClass=campfire-desktop
X-Desktop-File-Install-Version=0.26
X-Flatpak=gr.campfire.Campfire
